/*
 * @Author: Quarter
 * @Date: 2024-01-26 11:22:26
 * @LastEditors: Quarter
 * @LastEditTime: 2024-01-26 11:48:12
 * @FilePath: /anylink/web/src/style/init.scss
 * @Description: 初始化样式
 */

html,
body {
  width: 100%;
  height: 100%;
  padding: 0;
  margin: 0;
}

* {
  box-sizing: border-box;
}
